/*modificadores gerais*/
.is--bg-white, .is--bg-black:hover{
    background-color: white;
    color: black;
    transition: all ease 1s;
}
.is--bg-black, .is--bg-white:hover{
    background-color: #101010;
    color:white;
    transition: all ease 1s;
}
.is--bg-red{
    background-color: red;
    color: white;
}
.is--bar-white{
    background-color:white;
    width: 50px;
    height: 6px;
    margin-top: 10px;
}
.is--bar-black{
    background-color:black;
    width: 50px;
    height: 6px;
    margin-top: 10px;
}
.is--bar-white:hover{
    background-color:black;
}
.is--bar-black:hover{
    background-color:white;
}
/*Geral*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
}
.container{
    display: flex;
    width:100%;
}
.container--column{
    flex-direction: column;
}
.container--row{
    flex-direction: row;
}
a{
    text-decoration:none;
    color:#7d7d7d;
}

/*paleta de cores*/
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}


/*header*/
.navbar{
    display: flex;
    height: 80px;
    justify-content:space-between;
    width: inherit;
}
.navbar__list{
    display: flex;
    list-style:none;
}
.navbar a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #727272;
    border:0;
}
.navbar__item--active a, nav a:hover{
    background-color: red;
    color:white;
    cursor: pointer;
    transition: all ease 1s;
}
.navbar__menu{
    display: flex;
    align-items: center;
}
.navbar__logo img{
    height: 80px;
    width: 95px;
}


/*main banner*/
.banner{
    display: flex;
    background-image: url(image/Coca-Cola.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    justify-content: center;
}
.banner__headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner__options{
    height: 210px;
    display: flex;
}
.banner__headline h1{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 300px;
    text-shadow: 5px 5px 5px black;
    text-transform: uppercase;
}
.banner__headline h2{
    color: white;
    font-size: 19px;
    margin: 0;
    padding: 0;
    max-width: 300px;
    margin-top: 30px;
    text-shadow: 5px 5px 5px black;
}
.banner__option1, .banner__option2, .banner__option3{
    flex:1;
    padding: 20px;
    opacity: 0.8;
    font-weight: 600;
}
.banner__title{
    font-size: 25px;
}
.banner__des{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner__des li{
     list-style: none;
     padding: 10px;
     border-left: 10px solid white;
     margin-bottom: 10px;
}
.banner__options a {
    display: inline-block;
    background-color: white;
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: 12px;
}


/*main geral*/
main{
    width: 74%;
}
.geral{
    display: flex;
    flex-direction:column;
}

.geral .widget__body{
    display: grid;
    grid-template-areas: 
    'item1 item2'
    'item3 item4';
}
.widget__title{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
}
.widget__title__text{
    color: black;
    font-size: 21px;
    font-weight: bold;
    background-color: white;
    display: inline;
}
article .news__article1{
    grid-area: item1;
}
article .news__article2{
    grid-area: item2;
}
article .news__article3{
    grid-area: item3;
}
article .news__article4{
    grid-area: item4;
}
article .news__data{
    display: flex;
}
article .news__posted__at{
    color: black;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news__comments{
    background-color: rgb(0, 0, 0) ;
    color: white;
    font-size: 12px;
    padding: 10px;
}
article .news__thumbnails img, article .news__thumbnails{
    width: 100%;
    height: 200px;
    border-top-right-radius: 30px;
}
article .news__title{
    color: white;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #101010;
}
article .news__resume{
    color: grey;
    line-height: 20px;
    font-size: 14px;
    background-color: #101010;
    padding-bottom: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: inherit;
}
article a{
    text-decoration: none;
}
article{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.news__box{
    max-width: 300px;
    box-shadow: -6px 7px 7px 0px #bdbdbd;
    margin-bottom: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/*aside*/
aside{
    background-color: #d40203;
    color: white;
    width: 37%;
}
.negocios__list, .department__list{
    background-color: black;
    line-height: 28px;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
.negocios__list{
    border-bottom: 1px solid white;
    display: block;
    margin-right: 30px;
    }

.department__list li{
    background-color: red;
    list-style: none;
    margin: 10px 65px 10px 0px;
}    

/*footer*/
footer{
    background-color: black;
    display: flex;
    justify-content: center;
}
.footer__menu{
    display: flex;
}
.footer__menu1, .footer__menu2, .footer__menu3{
    flex: 1;
    padding: 20px;
}
.footer__area{
    display: flex;
    color: white;
    background-color:#0e0e0e;
}
.footer__areaitem{
    flex: 1;
}
.menu__desc{
    line-height: 20px;
    font-size: 14px;
    padding-left: 10px;
}
.menu__resume{
    line-height: 20px;
    font-size: 14px;
    padding-left: 10px;
}
h4{
    font-size: 16px;
    margin: 0;
    font-weight: 900;
}
.footer__area .widget__title__text{
    color: white;
    background-color:#0e0e0e;
}
.footer__area .widget__title__bar, .contact-sociais img{
    background-color:white;
}
.contact__sociais img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    background-color: white;
}
.footer__areaitem:not(h4){
    font-size: 10px;
    padding: 20px;
}
.contacts{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 18px;
}
span{
    color: #343488;
    margin-top: 10px;
}
.footer__area li{
    margin-bottom: 15px;
}
